<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div formArrayName="hobbies">
    <p>Hobbies</p>
    <div *ngFor="let hobby of hobbies.controls; let i = index">
      <input type="text" [formControlName]="i" />
      <button type="button" (click)="removeHobby(i)">x</button>
    </div>
    <button type="button" (click)="addHobby()">+</button>
  </div>
  <div *ngIf="hobbies.errors?.['duplicateHobby']" style="color: red">
    {{ hobbies.errors?.['duplicateHobby'] }}
  </div>
  <button [disabled]="formGroup.invalid">Submit</button>
</form>
